.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.quarter-width {
  width: 25%;
}

.options-btn {
  width: 7rem;
  height: 3rem;
  margin-left: 5px;
  float: right;
}

