<div>
  <h6>Select a Bucket from InternalDB:</h6>
  <mat-form-field>
    <mat-label>Bucket</mat-label>
    <mat-select [(value)]="selectedBucket" (selectionChange)="reloadSelection()">
      @for (b of buckets; track b) {
        <mat-option value="{{b}}">{{b}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field style="margin-left: 1rem; min-width: 50%;">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input/>
  </mat-form-field>
</div>
  
<div class="mat-elevation-z8 example-container">
  <table mat-table [dataSource]="dataSource">
    <!-- key Column -->
    <ng-container matColumnDef="key">
      <th mat-header-cell *matHeaderCellDef> Key </th>
      <td mat-cell *matCellDef="let element"> {{element.key}} </td>
    </ng-container>
    <!-- value Column -->
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef> Value </th>
      <td mat-cell *matCellDef="let element"> {{element.value}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>